{% comment %}
    Usage: {% include "mainpage/_find_us.html" %}
{% endcomment %}
<section class="section3">
    <div class="section3_text">
        <div class="text3">
            <h1>Как нас найти?</h1>
            <p>
                Наш клуб находится по адресу ул. Вершинина, 46. (Общежитие ТПУ №16).
                Наше сообщество ВК закрыто в целях защиты от спама, но вы можете написать нам,
                вам ответят в кратчайшие сроки.
            </p>
        </div>
    </div>
    <div id="vk_groups"></div>
    <div class="mapwidget">
        <script type="text/javascript" charset="utf-8" async
                src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A0f440c020c96c5b349ee95faa9116c36cacf7860d48a290f78108d07ef817c9e&amp;width=320&amp;height=320&amp;lang=ru_RU&amp;scroll=true"
        ></script>
    </div>
</section>
