{% extends 'mainpage/base_mainpage.html' %}

{% load static %}

{% block title %}Главная{% endblock title %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'mainpage/index_stylsheet.css' %}">
{% endblock stylesheets %}

{% block content %}
    <section class="section1">
        <div class="section1_text">
            <div class="text1">
                <h1>Кто мы?</h1>
                <p>
                    Ариадна - спортивный клуб, основанный на базе Национального исследовательского Томского
                    политехнического университета.
                </p>
            </div>
        </div>
        <div class="section1_img">
            <img src="{% static 'mainpage/images/dsad.png' %}" align="right" width="259px" height="245px">
        </div>
    </section>
    <section class="section2">
        <div class="section2_img1">
            <div>
                <img src="{% static 'mainpage/images/БокЛ.png' %}">
            </div>
        </div>
        <div class="section2_text">
            <div class="text2">
                <h1>Чем мы занимаемся?</h1>
                <p>
                    Наш клуб специализируется на альпинизме и скалолазании, но помимо этого, мы увлекаемся различными
                    зимними видами спорта и просто круто проводим время. Коллектив у нас очень сплоченный и дружный. С
                    нами вы поймете, почему даже у девушек могут быть усы, избавитесь от страха высоты, ну и, конечно
                    же, великолепные фоточки вам обеспечены!
                </p>
            </div>
        </div>
        <div class="section2_img1">
            <div>
                <img src="{% static 'mainpage/images/БокП.png' %}">
            </div>
        </div>
    </section>
    {% include "mainpage/_find_us.html" %}
{% endblock content %}
