{% load static %}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Главная</title>
    <link rel="stylesheet" type="text/css" href="{% static 'mainpage/index_stylsheet.css' %}">
    <script type="text/javascript" src="https://vk.com/js/api/openapi.js?163"></script>
</head>
<body>
<header class="header">
    <div class="container">
        <div class="header_inner">
            <div class="header_logo">
                <h1 class="logo">
                    <img src="{% static 'mainpage/images/dsad.png' %}" alt="Ариадна" width="70px" height="70px">
                </h1>
            </div>
            <nav class="nav">
                <a class="nav_link" href="{% url 'mainpage:home-page' %}">Главная</a>
                <a class="nav_link" href="{% url 'mainpage:about-page' %}">О клубе</a>
                <a class="nav_link" href="#">Мероприятия</a>
                <a class="nav_link" href="#">Материалы</a>
                <a class="nav_link" href="#">Обратная связь</a>
                <a class="nav_link" href="#">Вход</a>
            </nav>
        </div>
    </div>
</header>
<div class="content">
    <section class="section1">
        <div class="section1_text">
            <div class="text1">
                <h1>Кто мы?</h1>
                <a>Ариадна - спортивный клуб, основанный на базе Национального исследовательского Томского
                    политехнического университета</a>
            </div>
        </div>

        <div class="section1_img">
            <img src="{% static 'mainpage/images/dsad.png' %}" align="right" width="259px" height="245px">
        </div>
    </section>


    <section class="section2">
        <div class="section2_img1">
            <div>
                <img src="{% static 'mainpage/images/БокЛ.png' %}">
            </div>
        </div>

        <div class="section2_text">
            <div class="text2">
                <h1>Чем мы занимаемся?</h1>
                <a>Наш клуб специализируется на альпинизме и скалолазании, но помимо этого, мы увлекаемся различными
                    зимними видами спорта и просто круто проводим время. Коллектив у нас очень сплоченный и дружный. С
                    нами вы поймете, почему даже у девушек могут быть усы, избавитесь от страха высоты, ну и, конечно
                    же, великолепные фоточки вам обеспечены!
                </a>
            </div>
        </div>

        <div class="section2_img1">
            <div>
                <img src="{% static 'mainpage/images/БокП.png' %}">
            </div>
        </div>
    </section>


    <section class="section3">
        <div class="section3_text">
            <div class="text3">
                <h1>Как нас найти?</h1>
                <a>Наш клуб находится по адресу ул.Вершинина
                    46. ( Общежитие ТПУ №16). Наше сообщество ВК закрыто в целях защиты от спама, но вы можете написать
                    нам, вам ответят в кратчайшие сроки.</a>
            </div>
        </div>

        <div id="vk_groups">
            <script type="text/javascript">
                VK.Widgets.Group("vk_groups", {mode: 2, width: "320", height: "320"}, 2237166);
            </script>
        </div>

        <div class="mapwidget">
            <script type="text/javascript" charset="utf-8" async
                    src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A0f440c020c96c5b349ee95faa9116c36cacf7860d48a290f78108d07ef817c9e&amp;width=320&amp;height=320&amp;lang=ru_RU&amp;scroll=true">
            </script>
        </div>
    </section>
</div>
<section class="footer">
    <div class="footerinner">
        <div class="verh">

            <div class="section3_text">
                <h1 class="H1">Ариадна</h1>
                <p>Клуб альпинизма и скалолазания</p>
            </div>

            <div class="links">
                <h1 class="H1">Карта сайта</h1>
                <ul class="sitemap">
                    <li><a class="flink" href="{% url 'mainpage:home-page' %}">Главная</a></li>
                    <li><a class="flink" href="{% url 'mainpage:about-page' %}">О клубе</a></li>
                    <li><a class="flink" href="#">Мероприятия</a></li>
                    <li><a class="flink" href="#">Материалы</a></li>
                    <li><a class="flink" href="#">Обратная связь</a></li>
                    <li><a class="flink" href="#">Вход</a></li>
                </ul>
            </div>

            <div class="contacts">
                <h1 class="H1">Контакты</h1>
                <ul>
                    <li>
                        <a>Ariadna@tpu.ru</a>
                    </li>
                    <li>
                        <a href="https://vk.com/ariadna_tpu"><img
                                src="{% static 'mainpage/images/icons8-вконтакте-32.png' %}" alt="ВКОНТАКТЕ"></a>
                        <a href="https://www.instagram.com/ariadna_tpu/"><img
                                src="{% static 'mainpage/images/icons8-instagram-32.png' %}"
                                alt="ИНСТАГРАМ"></a>
                    </li>
                </ul>

            </div>
        </div>

        <div class="niz">
            <hr>
            <div class="Copyright">
                <a>© 2020. All Rights Reserved.</a>
            </div>
        </div>
    </div>

</section>

</body>

</html>
