{% extends 'mainpage/base.html' %}

{% load static %}

{% block title %}Главная{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'mainpage/index_stylsheet.css' %}">
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="https://vk.com/js/api/openapi.js?163"></script>
{% endblock %}

{% block content %}
    <section class="section1">
        <div class="section1_text">
            <div class="text1">
                <h1>Кто мы?</h1>
                <a>Ариадна - спортивный клуб, основанный на базе Национального исследовательского Томского
                    политехнического университета</a>
            </div>
        </div>

        <div class="section1_img">
            <img src="{% static 'mainpage/images/dsad.png' %}" align="right" width="259px" height="245px">
        </div>
    </section>
    <section class="section2">
        <div class="section2_img1">
            <div>
                <img src="{% static 'mainpage/images/БокЛ.png' %}">
            </div>
        </div>

        <div class="section2_text">
            <div class="text2">
                <h1>Чем мы занимаемся?</h1>
                <a>Наш клуб специализируется на альпинизме и скалолазании, но помимо этого, мы увлекаемся различными
                    зимними видами спорта и просто круто проводим время. Коллектив у нас очень сплоченный и дружный. С
                    нами вы поймете, почему даже у девушек могут быть усы, избавитесь от страха высоты, ну и, конечно
                    же, великолепные фоточки вам обеспечены!
                </a>
            </div>
        </div>

        <div class="section2_img1">
            <div>
                <img src="{% static 'mainpage/images/БокП.png' %}">
            </div>
        </div>
    </section>
    <section class="section3">
        <div class="section3_text">
            <div class="text3">
                <h1>Как нас найти?</h1>
                <a>Наш клуб находится по адресу ул.Вершинина
                    46. ( Общежитие ТПУ №16). Наше сообщество ВК закрыто в целях защиты от спама, но вы можете написать
                    нам, вам ответят в кратчайшие сроки.</a>
            </div>
        </div>
        <div id="vk_groups">
            <script type="text/javascript">
                VK.Widgets.Group("vk_groups", {mode: 2, width: "320", height: "320"}, 2237166);
            </script>
        </div>

        <div class="mapwidget">
            <script type="text/javascript" charset="utf-8" async
                    src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A0f440c020c96c5b349ee95faa9116c36cacf7860d48a290f78108d07ef817c9e&amp;width=320&amp;height=320&amp;lang=ru_RU&amp;scroll=true">
            </script>
        </div>
    </section>
{% endblock %}
