{% extends 'mainpage/base.html' %}

{% load static %}

{% block title %}О клубе{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'mainpage/about_stylesheet.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'mainpage/slider.css' %}">
{% endblock %}

{% block body_attributes %}onLoad="autoSlider()"{% endblock %}

{% block content %}
    <section class="section1">
        <div class="section1_img">
            <div class="slider">
                {% for image in slider_images %}
                    <div class="item">
                        <img src="{% static image.image %}" alt="">
                        <div class="slidetext">{{ image.caption }} ({{ image.year }} г.)</div>
                    </div>
                {% endfor %}
                <a class="prev" onclick="minusSlide()">&#10094;</a>
                <a class="next" onclick="plusSlide()">&#10095;</a>
            </div>
            <div class="slider-dots">
                {% for image in slider_images %}
                    <span class="slider-dots_item"
                          onclick="currentSlide({{ forloop.counter }})"></span>
                {% endfor %}
            </div>
        </div>
        <div class="section1_text">
            <div class="text1">
                <h1>История клуба</h1>
                <p>
                    Спортивный клуб Ариадна был создан 10 октября 1973 года. Начальный состав клуба ограничивался
                    небольшой группой спелеологов, что и сформировало первое направление развития. Почти сразу к
                    спелеологии присоединилось родственное скалолазание. Позже - альпинизм - самый суровый и
                    экстремальный вид спорта. За годы существования клуба мы обзавелись своими традициями,
                    отличительными чертами и методами работы с новичками.
                </p>
            </div>
        </div>
    </section>
    <section class="section2">
        <div class="S2text">
            <div class="section2_title">
                <h1>Направления в нашем клубе</h1>
            </div>
        </div>
        <div class="S2content1">
            <div class="S2img"><img src="{% static 'mainpage/images/about/Ледолазание.png' %}"></div>
            <div class="S2img"><img src="{% static 'mainpage/images/about/АЛЬПИНИЗМ.png' %}"></div>
            <div class="S2img"><img src="{% static 'mainpage/images/about/СКАЛОЛАЗАНИЕ.png' %}"></div>
        </div>
        <div class="S2content2">
            <div class="S2img"><img src="{% static 'mainpage/images/about/БОУЛДЕРИНГ.png' %}"></div>
            <div class="S2img"><img src="{% static 'mainpage/images/about/СПАСАТЕЛЬНЫЕ РАБОТЫ.png' %}"></div>
            <div class="S2img"><img src="{% static 'mainpage/images/about/СПОРТИВНЫЙ ТУРИЗМ.png' %}"></div>
        </div>
    </section>
    <section class="members">
        <div class="members_title">
            <h2>Представители клуба</h2>
        </div>
        <div class="MainMember">
            <div>
                <img class="S2img" src="{% static members_president.image %}">
            </div>
            <p class="MemberName">{{ members_president.name }}</p>
            <p class="MemberPosition">{{ members_president.caption }}</p>
        </div>
        <div class="otherMembers">
            {% for member in members_other %}
                <div class="member1">
                    <div>
                        <img class="S2img" src="{% static member.image %}">
                    </div>
                    <p class="MemberName">{{ member.name }}</p>
                    <p class="MemberPosition">{{ member.caption }}</p>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}

{% block extra_scripts %}
    <script src="{% static 'mainpage/js/js.js' %}"></script>
{% endblock %}
